body {
    font-family: "Rubik", sans-serif;
    margin: 8%;
    background: linear-gradient(90deg, #f70304, #2432ca);
}

.container{
    display: flex;
    justify-content: center;
}

.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    width: 60%;
    border-radius: 10px;
    gap: 15px;
    background-color: #fff;
}

.login-container label{
    text-align: center;
}

.signup-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    background-color: #fff;
}

.signup-container form{
    width: 100vh;
}

.dashboard-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    background-color: #fff;
}

.reset-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 15%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #cfcaca;
    width: auto;
    padding: 20px;
}

input {
    border-radius: 5px;
}

#t-and-c{
    cursor: pointer;
}

.all-users-info{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #cfcaca;
    width: auto;
    padding: 20px;
}

li {
    list-style-type: none;
}

.submitted-data {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #cfcaca;
    width: auto;
    padding: 20px;
}

.submitted-data-main {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: auto;
}

.link-container {
    margin-top: 20px;
}

.form-btn{
    display: grid;
    width: fit-content;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.dashboard-btn{
    text-align: center;
    margin: 20px 0px;
    width: 77%;
}

.dashboard-btn-main {
    display: flex;
    justify-content: space-between;
}

.user-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #cfcaca;
    width: 77%;
}

.user-data li{
    margin-top: 10px;
}

.model-close-btn {
    cursor: pointer;
}

/*Mobile Version style*/
@media screen and (max-width: 950px) {
    .login-container, .signup-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 30%;
    }

    .signup-container form {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 30%;
        overflow: hidden;
    }

    .signup-container h1{
        margin-bottom: -25%;
    }

    .submitted-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 5px;
        border: 1px solid #cfcaca;
        width: 75%;
        margin: inherit;
    }

    .submitted-data-main {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 10px auto;
    }

    .dashboard-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 5px;
    }

    .user-data{
        display: block;
        justify-content: center;
        border-radius: 5px;
    }

    .user-data li {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}